.header {
    background: #151515 url('../images/intro-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    .social {
        bottom: 50px;
    }
    .text-container {
        z-index: 2;
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:  100%;
        background: rgba(0,0,0,0.6);
    }
    .roles {
        font-family: 'lora-regular', serif;
    }
    @media(max-width:767px) {
        .social i {
            font-size: 35px;
        }

        .roles {
            font-size: calc(.9rem + 0.3vw) !important;
        }
    }
    #typing-text{
        height: 100px;
    }
}

#about{
    .about-img{
        width: 250px;
    }
    .about-content{
        flex-direction: column;
    }
}